<!-- navbar.component.html -->
<nav class="bg-gray-800 p-4 shadow-md">
  <div class="mx-2 flex items-center justify-between">
    <div class="flex items-center	 text-white text-xl font-bold">
      <img src="assets/img/logo-social-red.png" alt="" style="width: 66px;">
      <h2 class="ml-2">
        SocialRed!
      </h2>
    </div>
    <div>
      <button class="text-white hover:text-gray-300" (click)="logout()">
        <span class="material-symbols-outlined" style="color: rgb(158, 60, 158);">
          logout
        </span>
      </button>
    </div>
  </div>
</nav>
